* text=auto !eol
/CHANGES.txt -text
raisin/page/templates/static/favicon.ico -text
raisin/page/templates/static/images/buttonbg.gif -text
raisin/page/templates/static/images/favicon.ico -text
raisin/page/templates/static/images/footerbg.gif -text
raisin/page/templates/static/images/home.gif -text
raisin/page/templates/static/images/home_grad.gif -text
raisin/page/templates/static/images/logo-nocity.gif -text
raisin/page/templates/static/images/map_shorter.gif -text
raisin/page/templates/static/images/prevarrow.gif -text
raisin/page/templates/static/images/prevarrow_disabled.gif -text
raisin/page/templates/static/images/prevarrow_hover.gif -text
raisin/page/templates/static/images/splicing.gif -text
raisin/page/templates/static/images/splicing.png -text
