/* RESET */

html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strike, strong, sub, sup, 
tt, var, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

table                    { border-spacing: 0; border-collapse: collapse; }
caption, th, td          { text-align: left; font-weight: normal; }
blockquote, q            { quotes: none; }
:focus                   { outline: 0; }
button::-moz-focus-inner { border: 0; padding: 0; }

/* BASE */

body {
    line-height: 1.4;
    font-family: Arial, sans-serif;
    color: #2B332E;
    background: #FFF;
    width: 100%;
    height: 100%;
}

strong                  { font-weight: bold; }
em                      { font-style: italic; }
input, button, textarea { font-family: Arial, sans-serif; }
                        
/* TYPE */              
                        
p, ul, ol, dl, pre      { font-size: 1em; margin: 0 0 0.6em; }
ul, ol                  { margin-left: 1.2em; }
ol                      { margin-left: 2em; }
ul ul                   { margin-bottom: 0; }
h2, h3, h4, h5          { margin: 1em 0 0.2em; font-weight: bold; }

h1                      { margin: 0.25em 0 0; font-size: 1.5em; letter-spacing: -0.025em; font-weight: bold; }
h2                      { font-size: 1.125em; margin-top: 0.25em; margin-bottom: 0.5em; line-height: 1.2em; }
h3                      { font-size: 1em; margin-bottom: 0.25em; }
h4                      { font-size: 0.875em; }
                        
/* LINKS */             
                        
a                       { color: #898989; outline: none; }
a:hover                 { color: #6E6E6E; }

/* HEADER */

#header {
    background: #fff;
    color: #fff;
    position: relative;
    z-index: 9999;
    min-width: 968px;
    border-bottom: 4px solid #FC9D00;
}

#header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#header #globaltitle {
    margin: 0;
    zoom: 1;
}

#header #globaltitle .logo {
    float: left;
    width: 515px;
    height: 42px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(/static/images/logo-nocity.gif) 16px 8px no-repeat;
}

#header #globalnav {
    clear: both;
    padding: 3px 16px;
    background: #FC9D00;
    overflow: hidden;
    line-height: 1em;
    zoom: 1;
}

#header #userlinks {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 16px;
    height: 42px;
}

#header #userlinks p {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.75em;
    margin: 0 0 8px;
    color: #A8B2AC;
    white-space: nowrap;
}

#header #userlinks a {
    color: #000;
    font-weight: bold;
}

#header #userlinks a:hover {
    color: #FC9D00;
}

#header .logout-form {
    float: right;
}

#header .logout-button { 
    display: inline;
    background: transparent;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    padding: 0;
}

#header .logout-button:hover { 
    color: #7ECC64; 
    cursor: pointer;
}

/* MODULES */

.module {
    overflow: hidden;
    float: left;
    width: 100%;
    position: relative;
    margin: 0 -5px 1em;
    border: 4px solid #EBF2EE;
    background: #fff;
    -webkit-border-radius: 9px;
}

.module-content {
    overflow: hidden;
    padding: 0.75em 16px;
    border: 1px solid #C0CCC4;
    -webkit-border-radius: 5px;
}

.module .number {
    font-size: 1.125em;
    padding-right: 0.2em;
}

.module .accentheader {
    overflow: hidden;
    margin-bottom: 0;
}

.module .accentheader h2 {
    float: left;
    margin-right: 8px;
    margin-top: 0.1em;
    font-size: 0.75em;
    text-transform: uppercase;
    color: #FC9D00;
}

.module p.more {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    line-height: 1em;
    padding-top: 5px;
}

.module p.more a {
    font-size: 0.75em;
    font-weight: bold;
}

.module h2.module-header {
    font-size: 0.875em;
    position: relative;
    padding: 0.5em 16px;
    margin: -0.857em -16px 0.875em;
    background: #ccc;
    border-bottom: 1px solid #C0CCC4;
    background: #DBE6DF url(/static/images/grad_bg.gif) repeat-x;
    text-shadow: 1px 1px 0 #fff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

.module-preheader {
    padding: 0.25em 16px;
}

.module hr {
  border-color: #DBE6DF;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    margin: 0.75em 0;
    height: 0;
}

/* INSET */

.module .inset {
    padding: 0.25em 4px;
    background: #EBF2EE;
    overflow: hidden;
    -webkit-border-radius: 5px;
}

.module .module-content.inset {
  border: none;
}

.module.special {
    border: 1px solid #C0CCC4;
}

.module.special .module-content {
    border: 4px solid #ddf7cc;
    background: #edfce3;
    -webkit-border-radius: 9px;
}

.module.special {
    margin: 0.5em 0;
} 

.module.special p {
    font-size: 0.75em;
    margin-bottom: 0;
}

/* HIDDEN ITEMS */

.module.hidden-items p {
	margin-bottom: 0;
}

.module.hidden-items .right {
	margin-left: 2em;
}

/* MAIN */

#main {
    min-width: 968px;
    overflow: hidden;
}

/* FOOTER */

#footer {
    min-width: 968px;
    background: #FFF url(/static/images/footerbg.gif) repeat-x;
    border-top: 1px solid #C0CCC4;
    margin: 0;
    padding: 0.875em 16px;
    color: #808c85;
    overflow: hidden;
}

#footer p.links {
    font-size: 0.6875em;
    line-height: 2.4em;
    margin: 0;
}

#footer p.extra {
    float: right;
    text-align: right;
}

#footer a {
    padding: 0 0.35em;
}

#footer .legal {
    clear: right;
    float: right;
    text-align: right;
    font-size: 0.6875em;
    margin: 0.6875em 0;
    color: #A8B2AC;
}

#footer .legal .middot {
    color: #C0CCC4;
    margin: 0 0.25em;
}

#footer .legal a {
    padding: 0;
    color: #808c85;
    font-weight: bold;
}

#footer .legal a:hover {
    color: #2B332E;
}

/* UTILITY CLASSES */

.infotext               { font-size: 0.75em; color: #808c85; }
.infotext strong        { color: #2B332E; }

/* CONTENT */

#content {
    padding: 0.5em 16px 1em;
}

#content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* PLACE NAV */

#placenav {
  clear: both;
  position: relative;
  margin: 0.75em -16px -0.75em;
  border-top: 1px solid #C0CCC4;
  overflow: hidden;
}

#placenav .tabs {
  float: left;
}

#placenav .tabs .current,
#placenav .tabs a {
  -webkit-border-radius: 0;
  margin-right: 0;
  padding: 0.5em 16px;
  border-width: 0 1px 0 0;
}

#placenav .tabs a {
  background-color: #ebf2ee;
  background-image: url(/static/images/buttonbg.gif);
  background-repeat: repeat-x;
}

#placenav .tabs a:active {
  background: #C0CCC4;
}

#placenav .tabs .current {
  background: #fff url(/static/images/map_shorter.gif) 50% 100% no-repeat;
  border-color: #C0CCC4;
  color: #2B332E;
  text-shadow: none;
}

#placenav .tabs a:hover {
  border-color: #C0CCC4;
}

/* TABS */

.tabs {
    display: block;
    overflow: hidden;
    margin: 0;
}

.tabs li {
    display: inline;
}

.tabs li a,
.tabs li .current {
    font-size: 0.875em;
    float: left;
    padding: 0.1em 8px;
    margin: 0 8px 0 0;
    font-weight: bold;
    color: #898989;
    background: #FFF;
    border: 1px solid #C0CCC4;
    -webkit-border-radius: 5px;
    text-shadow: 1px 1px 0 #FFF;
}

.tabs li .current {
    border-color: #898989;
    background: #898989;
    color: #FFF;
    text-shadow: 1px 1px 0 #1C5D84;
    cursor: default;
}

.tabs li a:hover {
    border-color: #808c85;
    color: #2B332E;
}

.tabs li a:active {
    background-color: #C0CCC4;
}

.sectiontabs {
    text-align: right;
    float: right;
}

.sectiontabs .tabs {
    background: #FFF;
}

.sectiontabs .tabs a,
.sectiontabs .tabs .current {
    margin: 0 0 0 8px;
}


/* PLACE HEADER */

#placeheader .breadcrumbs {
  margin-top: 0;
}

#placeheader.custom h1 {
  margin-right: 50%;
}

#placeheader .description {
  float: right;
  margin-top: 0.25em;
  width: 30%;
}

#placeheader .spot-indicator {
  width: 20%;
}

#placeheader .description h4 {
  margin: 0;
}

#placeheader .description p {
  margin-right: 16px;
}

#placeheader .signature {
  float: right;
  margin-top: 0.25em;
  width: 15%;
}

#placeheader .signature .username {
  font-size: 1.25em;
}

/* BREADCRUMBS */

.breadcrumbs {
    margin: 0.25em 0;
    font-size: 0.875em;
    color: #A8B2AC;
    overflow: hidden;
    line-height: 1.4em;
}

.breadcrumbs a {
    color: #808c85;
    padding: 0.1em 8px 0.1em 16px;
    background: url(/static/images/prevarrow.gif) 0 40% no-repeat;
}

.breadcrumbs a:hover {
    color: #2B332E;
    background-image: url(/static/images/prevarrow_hover.gif);
}

.module .schema-extra {
    line-height: 2.5em;
    font-size: 0.6875em;
}

.module .schema-extra a {
    margin-right: 1em;
    font-weight: normal;
    color: #808c85;
    padding-left: 16px;
    float: left;
}

.module .schema-extra a:hover {
    color: #2B332E;
}

.module .schema-extra .help {
    padding: 0 0 0 18px;
    background: url(/static/images/helpicon.gif) 0 50% no-repeat;
}

.module .schema-extra .hide {
    background: url(/static/images/close.gif) 0 50% no-repeat;
}

.module .schema-extra .show {
    background: url(/static/images/show.gif) 0 50% no-repeat;
}

/* INLINE LISTS */

.inlinelist {
    overflow: hidden;
    margin: 0;
}

.inlinelist li {
    display: inline;
}

.inlinelist a,
.inlinelist .inline {
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0.25em 1em 0.25em 0;
    padding: 0;
    float: left;
}

.inlinelist a.button {
    margin: 0.25em 8px 0;
}

.inlineheader {
    float: left;
    font-size: 0.75em;
    margin: 0.25em 8px 0.25em 0;
    line-height: 1.2em;
}

.inlineform {
    overflow: hidden;
}

.inlineform .inlinelabel {
    float: left;
    font-size: 0.75em;
    padding: 0.5em 8px;
}

.inlineform .textinput {
    float: left;
    font-size: 0.75em;
}

.inlinelink {
    float: left;
    font-size: 0.75em;
    margin: 0.25em 16px 0.25em 0;
    line-height: 1.2em;
}

.inlinelink a {
    font-weight: bold;
}

.extranav {
    float: right;
}

/* ICON LINKS */

a.place,  label.place {
    padding-left: 12px;
    background-image: url(/static/images/button_place.png);
    background-position: 0 42%;
    background-repeat: no-repeat;
}

